<app-menu></app-menu>
<div>
    <span id="pageTitle">Customer List</span> |
    <a routerLink="/customer/create">New</a>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>StateCode</th>
            <th>Sales</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of customers">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ (c.active) ? "Yes" : "No" }}</td>
            <td>{{ c.stateCode }}</td>
            <td>{{ c.sales | currency }}</td>
            <td>
                <a routerLink="/customer/detail/{{ c.id }}">Detail</a> |
                <a routerLink="/customer/edit/{{ c.id }}">Edit</a>
            </td>

        </tr>
    </tbody>
</table>
