<app-menu></app-menu>
<div>
    <span id="pageTitle">Customer Detail</span>
</div>
<table *ngIf="customer" class="table table-sm">
    <tr>
        <th>Id:</th>        
           <td><input [(ngModel)]="customer.id" type="number" readonly></td>
    </tr>
    <tr>
        <th>Name:</th>        
           <td><input [(ngModel)]="customer.name" type="text" readonly></td>
    </tr>
    <tr>
        <th>State:</th>        
           <td><input [(ngModel)]="customer.stateCode" type="text" readonly></td>
    </tr>
    <tr>
        <th>Sales:</th>        
           <td><input [(ngModel)]="customer.sales" type="currency" readonly></td>
    </tr>
    <tr>
        <th>Active:</th>        
        <td><input [(ngModel)]="customer.active" type="checkbox" disabled=""></td>
    </tr>
</table>
<div>
    <button (click)="remove()" class="btn btn-danger">Delete</button>
    <span *ngIf="showVerifyButton">
        | <button (click)="verifyRemove()" class="btn btn-danger">Verify Delete</button>
    </span>
</div>
